<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Dodaj nową templatkę</mat-panel-title>
      <mat-panel-description>
        Umożliwia dodanie nowej templatki
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-manage-project-template-form></app-manage-project-template-form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Edytuj templatkę</mat-panel-title>
      <mat-panel-description>
        Umożliwia edycję wybranej templatki
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-manage-project-template-form
      [editMode]="true"
    ></app-manage-project-template-form>
  </mat-expansion-panel>
</mat-accordion>
