<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Ogólne">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi ducimus ex
    mollitia error cumque, nobis eos natus soluta? Maxime officia ex id repellat
    sed praesentium consequuntur! A error earum quod.
  </mat-tab>
  <mat-tab label="Projekty">
    <app-manage-project-template></app-manage-project-template>
  </mat-tab>
  <mat-tab label="Inne...">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempora
    assumenda doloribus. Nihil blanditiis dolorem est eveniet? Veniam
    exercitationem obcaecati explicabo ipsum earum illo, aut tempora, animi
    quidem doloremque provident.
  </mat-tab>
</mat-tab-group>
