<div
  class="d-flex w-100 align-items-center justify-content-center text-primary p-3"
>
  <span
    class="add-project d-flex align-items-center cursor-pointer"
    style="column-gap: 10px"
  >
    <h1 class="fs-4 fw-normal d-block" routerLink="/projects/add-project">
      Stwórz nowy projekt
    </h1>
    <app-plus-icon></app-plus-icon>
  </span>
</div>
<div class="wrapper">
  <div class="border p-3 project-holder" *ngFor="let project of projects">
    <header class="mb-2">
      <h2 class="fs-4 p-0">{{ project.title }}</h2>
      <span>{{ project.dueDate.toDate() | date: "dd.MM.yyyy" }}</span>
    </header>
    <div class="mb-2">
      {{ project.description }}
    </div>
    <footer class="">
      <h3 class="fs-5 mt-3">Przydzielony do:</h3>

      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let assignedUser of project.assignedUsers; let i = index"
        >
          {{ assignedUser }}
          <span class="badge bg-primary rounded-pill fs-6">
            {{ icons[i] }}
          </span>
        </li>
      </ul>
    </footer>
  </div>
</div>
