<app-loading-spinner *ngIf="!project"></app-loading-spinner>

<div class="container p-4 w-100" style="position: relative" *ngIf="project">
  <h1 class="py-4 header d-flex justify-content-around">
    <div>
      {{ project.data.title }}
    </div>
    <app-button color="secondary" (submitted)="onProjectDelete()"
      >Usuń</app-button
    >
  </h1>

  <div class="boards-container mt-4" cdkDropListGroup>
    <app-board
      [tasks]="boards.assignedTasks"
      (onDialogOpen)="openDialog($event)"
      (onListDropped)="onListDropped($event)"
    ></app-board>
    <app-board
      [tasks]="boards.inProgressTasks"
      (onDialogOpen)="openDialog($event)"
      (onListDropped)="onListDropped($event)"
    ></app-board>
    <app-board
      [tasks]="boards.doneTasks"
      (onDialogOpen)="openDialog($event)"
      (onListDropped)="onListDropped($event)"
      [completed]="true"
    ></app-board>
  </div>
</div>
