<app-loading-spinner *ngIf="!project"></app-loading-spinner>

<div class="container p-4 w-100" *ngIf="project">
  <ul class="list-group list-group-flush w-100">
    <li class="list-group-item list-group-item-info fs-3 w-100">
      {{ project.data.title }}
    </li>
  </ul>
  <div class="row mt-4" cdkDropListGroup>
    <div class="col-lg-4">
      <div class="board shadow">
        <header class="mb-4 d-flex justify-content-evenly header">
          <h2 class="fs-3">Przydzielone</h2>
        </header>
        <ul
          class="list-group border-radius-0 mx-auto mt-3 tasks-holder"
          cdkDropList
          [cdkDropListData]="boards.assignedTasks"
          (cdkDropListDropped)="onListDropped($event)"
        >
          <li
            class="list-group-item cursor-pointer task"
            *ngFor="let task of boards.assignedTasks"
            cdkDrag
          >
            {{ task }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="board shadow">
        <header class="mb-4 d-flex justify-content-evenly header">
          <h2 class="fs-3">W trakcie</h2>
        </header>
        <ul
          class="list-group border-radius-0 mx-auto mt-3 tasks-holder"
          cdkDropList
          [cdkDropListData]="boards.inProgressTasks"
          (cdkDropListDropped)="onListDropped($event)"
        >
          <li
            class="list-group-item cursor-pointer task"
            *ngFor="let task of boards.inProgressTasks"
            cdkDrag
          >
            {{ task }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 completed">
      <div class="board shadow">
        <header class="mb-4 d-flex justify-content-evenly header">
          <h2 class="fs-3">Wykonane</h2>
        </header>
        <ul
          class="list-group border-radius-0 mx-auto mt-3 tasks-holder"
          cdkDropList
          [cdkDropListData]="boards.doneTasks"
          (cdkDropListDropped)="onListDropped($event)"
        >
          <li
            class="list-group-item cursor-pointer task"
            *ngFor="let task of boards.doneTasks"
            cdkDrag
          >
            {{ task }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
