<table class="table table-hover cursor-pointer">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imie i Nazwisko</th>
      <th scope="col">Email</th>
      <th scope="col">Telefon</th>
      <th scope="col">Role</th>
      <th scope="col"><!-- Reset password --></th>
      <th scope="col"><!-- Delete employee --></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <td scope="col">{{ i }}</td>
      <td scope="col">{{ employee.name }}</td>
      <td scope="col">{{ employee.email }}</td>
      <td scope="col">{{ employee.phoneNumber }}</td>
      <td scope="col">{{ employee.roles }}</td>
      <td scope="col">
        <app-button>Resetuj hasło</app-button>
      </td>
      <td scope="col">
        <button type="button" class="btn btn-outline-danger btn-sm">
          Usuń
        </button>
      </td>
    </tr>
  </tbody>
</table>
