<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="container py-3" *ngIf="!loading">
  <div class="row">
    <div class="col-6 mx-auto">
      <header class="mt-3">
        <h1 class="fw-normal fs-2 text-center">
          {{ mode === "add" ? "Stwórz nowy projekt" : "Edytuj projekt" }}
        </h1>
      </header>
      <form
        class="mt-4 w-75 mx-auto"
        (ngSubmit)="
          mode === 'add' ? onSubmitNewProject() : onSubmitExistingProject()
        "
        [formGroup]="form"
      >
        <div class="mb-4">
          <input
            placeholder="Tytuł"
            type="text"
            class="form-control custom-form-control"
            formControlName="title"
          />
          <div
            class="form-text mt-3 error text-center"
            *ngIf="title.invalid && title.touched"
          >
            Proszę wprowadź tytuł projektu
          </div>
        </div>
        <div class="mb-4">
          <textarea
            class="form-control"
            placeholder="Opis projektu"
            formControlName="description"
            rows="3"
          ></textarea>
          <div
            class="form-text mt-3 error text-center"
            *ngIf="description.invalid && description.touched"
          >
            Proszę wprowadź opis projektu
          </div>
        </div>
        <div class="mb-4">
          <input
            placeholder="Wybierz termin wykonania"
            type="date"
            class="form-control"
            formControlName="dueDate"
          />
          <div
            class="form-text mt-3 error text-center"
            *ngIf="dueDate.invalid && dueDate.touched"
          >
            Proszę wybierz termin wykonania
          </div>
        </div>
        <div class="mb-4">
          <ng-multiselect-dropdown
            [placeholder]="'Przydziel użytkowników'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="selectedUsers"
          >
          </ng-multiselect-dropdown>
          <div
            class="form-text mt-3 error text-center"
            *ngIf="selectedUsers.invalid && selectedUsers.touched"
          >
            Proszę przydziel użytkowników
          </div>
        </div>
        <div class="mb-4">
          <select
            class="form-select"
            formControlName="template"
            *ngIf="mode === 'add'"
          >
            <option value="" selected disabled>Wybierz template</option>
            <option value="none" selected>Brak template'u</option>
            <option
              [value]="projectTemplate.uid"
              *ngFor="let projectTemplate of projectTemplates"
            >
              {{ projectTemplate.title }}
            </option>
          </select>
          <div
            class="form-text mt-3 error text-center"
            *ngIf="selectedUsers.invalid && selectedUsers.touched"
          >
            Proszę przydziel użytkowników
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success w-100"
          [disabled]="form.invalid || loading"
        >
          {{ mode === "add" ? "Stwórz" : "Zapisz" }}
        </button>
      </form>
    </div>
  </div>
</div>
